@model IEnumerable<Friendly.DATA.EF.Friendship>

@{
    ViewBag.Title = "Friendships";
}

<div class="fixed-action-btn">
    <a href="@Url.Action("Create")" class="btn-floating btn-large accent waves-effect waves-light">
        <i class="large material-icons">add</i>
    </a>
</div>

<ul class="collapsible popout">
    @foreach (var item in Model)
    {
        <li>
            <div class="collapsible-header">@item.Title</div>
            <div class="collapsible-body">
                <h6>Description</h6>
                <p>
                    @item.Description
                </p>
                @Html.ActionLink("Edit", "Edit", new { id = item.FriendshipId }, new { @class = "waves-effect waves-accent btn-flat accent-text" })
                @if (item.OpenFriendships.Count == 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.FriendshipId }, new { @class = "waves-effect waves-light btn accent" })
                }
                else
                {
                    <a href="javascript:void(0)" class="btn-flat disabled" disabled>Delete</a>
                }
            </div>
        </li>
    }
</ul>
