@model Friendly.DATA.EF.Clique

@{
    ViewBag.Title = "Edit Clique";
}

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-content">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CliqueId)

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Name)
                    @Html.LabelFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.City)
                    @Html.LabelFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.State)
                    @Html.LabelFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s12">
                    @Html.DropDownList("BetaId")
                    @Html.LabelFor(model => model.BetaId)
                    @Html.ValidationMessageFor(model => model.BetaId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="card-action">
            <a href="@Url.Action("Index")" class="btn-flat waves-effect waves-accent accent-text">Cancel</a>
            <button type="submit" class="right btn accent waves-effect waves-light">
                Save
                <i class="material-icons right">save</i>
            </button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
