@model Friendly.DATA.EF.OpenFriendship

@{
    ViewBag.Title = "Create Opening";
}

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-content">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-field col s12">
                    @Html.DropDownList("FriendshipId")
                    @Html.LabelFor(model => model.FriendshipId)
                    @Html.ValidationMessageFor(model => model.FriendshipId, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s12">
                    @Html.DropDownList("CliqueId")
                    @Html.LabelFor(model => model.CliqueId)
                    @Html.ValidationMessageFor(model => model.CliqueId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="card-action">
            <a href="@Url.Action("Index")" class="btn-flat waves-effect waves-accent accent-text">Cancel</a>
            <button type="submit" class="right btn accent waves-effect waves-light">
                Create
                <i class="material-icons right">save</i>
            </button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
