@model Friendly.DATA.EF.OpenFriendship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpenFriendship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clique.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clique.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friendship.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friendship.Title)
        </dd>
    </dl>

	@Html.ActionLink("Apply", "Apply", "Applications", new { openFriendshipId = Model.OpenFriendshipId }, new { @class = "btn btn-primary" })

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenFriendshipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
