@model IEnumerable<Friendly.DATA.EF.OpenFriendship>
@using Microsoft.AspNet.Identity

@{
	ViewBag.Title = "Index";
}

<h2>Open Friendships</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Friendship.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Clique.Location)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Clique.Name)
		</th>
		<th></th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Friendship.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Clique.Location)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Clique.Name)
			</td>
			<td>
				@{ 
					string userId = User.Identity.GetUserId();
					var userApplication = item.Applications.Where(x => x.UserId == userId);

					if (userApplication.Count() != 0)
					{
						@: Already Applied
					}
				}
			</td>
			<td>
				@{
					if (userApplication.Count() != 0)
					{
						// Has applied to this position
						@Html.ActionLink("View Application", "Details", "Applications", new { id = userApplication.Single().ApplicationId }, new { @class = "btn btn-link" })
					}
					else
					{
						// Has not applied
						@Html.ActionLink("View", "Details", new { id = item.OpenFriendshipId }, new { @class = "btn btn-link" })
					}
				}

				@if (User.IsInRole("Beta"))
				{
					if (item.Applications.Count == 0)
					{
						@Html.ActionLink("Edit", "Edit", new { id = item.OpenFriendshipId }, new { @class = "btn btn-link" })
						@Html.ActionLink("Delete", "Delete", new { id = item.OpenFriendshipId }, new { @class = "btn btn-link" })
					}
					else
					{
						<a href="javascript:void(0)" class="btn btn-link disabled" disabled>In Use</a>
					}
				}
			</td>
		</tr>
	}

</table>
