@model Friendly.DATA.EF.UserDetail
@{
    ViewBag.Title = "Account Management";
}


@if (ViewBag.StatusMessage != "")
{
    <p class="text-success">@ViewBag.StatusMessage</p>
}
@if ((string)TempData["ErrorMessage"] != "")
{
    <p class="text-danger">@((string)TempData["ErrorMessage"])</p>
}

<div class="card">
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-content">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ResumeFilename)

                <div class="input-field col s12 m6">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.LabelFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="input-field col s12 m6">
                    @Html.EditorFor(model => model.LastName)
                    @Html.LabelFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="col s12">
                    <h5>Resume</h5>
                    @if (!Model.ResumeFilename.IsEmpty())
                    {
                        <embed src="@Url.Content("~/Content/Resumes/" + Model.ResumeFilename)" style="width:100%;height:600px;" alt="Unable to load current resume" />
                    }
                    else
                    {
                        <span class="accent-text small">You haven't uploaded a resume yet.</span>
                    }
                    <div class="file-field input-field">
                        <div class="btn accent waves-effect waves-light">
                            <span>Upload Resume</span>
                            <input type="file" name="resumeFile" />
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-action">
            @if (TempData["ApplyingTo"] != null)
            {
                <input type="number" value="@TempData["ApplyingTo"]" name="openFriendshipId" hidden />
                <button type="submit" value="Save & Continue" class="btn accent waves-effect waves-light">Save &amp; Continue<i class="material-icons right">arrow_forward</i></button>
            }
            else
            {
                <button type="submit" class="btn accent waves-effect waves-light">Update<i class="material-icons right">save</i></button>
            }
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}