@model Friendly.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Log In";
}

<div class="card">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card-content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="input-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="input-field">
                @Html.PasswordFor(m => m.Password)
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <label for="RememberMe">
                @*@Html.CheckBoxFor(m => m.RememberMe)*@
                <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" class="filled-in">
                <span>Remember me?</span>
            </label>

        </div>

        <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light accent">Log in</button>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}