<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title | Friendly</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        @*<div class="navbar-fixed" style="z-index:;">*@
            <nav class="z-depth-0 white">
                <div class="nav-wrapper">
                    <a class="brand-logo center">@ViewBag.Title</a>
                    <a href="#" data-target="site-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
                <div class="divider"></div>
            </nav>
        @*</div>*@

        <!-- Side Nav -->
        <ul class="sidenav sidenav-fixed" id="site-nav">
            <li>
                <div class="user-view">
                    <div class="logo-wrapper">
                        <a href="@Url.Action("Index", "Home")" class="logo"><img src="~/Content/assets/img/logo.png" /></a>
                    </div>
                    <a href="@Url.Action("Index", "Home")"><h2 class="brand">Friendly</h2></a>
                </div>
                <div class="divider"></div>
            </li>
            <!-- Links -->
            <li class="bold"><a href="@Url.Action("Index", "Home")" class="waves-effect">Home</a></li>
            @if (User.IsInRole("Alpha"))
            {
                <li class="bold">@Html.ActionLink("Cliques", "Index", "Cliques", null, new { @class = "waves-effect" })</li>
                // Collapsible Menu
                <li class="no-padding" id="manage-collapsible">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <a class="collapsible-header waves-effect">Manage</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", null, new { @class = "waves-effect" })</li>
                                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin", null, new { @class = "waves-effect" })</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Beta") || User.IsInRole("Alpha"))
            {
                <li class="bold">@Html.ActionLink("Friendships", "Index", "Friendships", null, new { @class = "waves-effect" })</li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li class="bold">@Html.ActionLink("Openings", "Index", "OpenFriendships", null, new { @class = "waves-effect" })</li>
                <li class="bold">@Html.ActionLink(User.IsInRole("Friend") ? "My Applications" : "Applications", "Index", "Applications", null, new { @class = "waves-effect" })</li>
            }
            <li class="mt-auto">
                <div class="divider"></div>
            <li><a class="subheader">Account</a></li>
            @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </header>

    <main>
        <div class="container section">
            @RenderBody()
        </div>
    </main>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            // inits
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            $('.collapsible').collapsible();
            $('select').formSelect();

            $('ul.sidenav li a').each(function () {
                if ($(this).attr('href') == (window.location.pathname)) {
                    $(this).parent().addClass('active');

                    if (window.location.pathname == '/RolesAdmin' || window.location.pathname == '/UsersAdmin') {
                        //var instance = M.Collapsible.getInstance(document.getElementById('manage-collapsible'));
                        //instance.open(0);
                        var instance = document.getElementById('manage-collapsible');
                        instance.setAttribute('class', instance.getAttribute('class') + ' active');
                    }
                }
            });

        });
    </script>
</body>
</html>

@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Friendly", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Support", "Support", "Home")</li>

                    @if (User.IsInRole("Alpha"))
                    {
                        <li>@Html.ActionLink("Cliques", "Index", "Cliques")</li>
                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                    }
                    @if (User.IsInRole("Beta") || User.IsInRole("Alpha"))
                    {
                        <li>@Html.ActionLink("Friendships", "Index", "Friendships")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Openings", "Index", "OpenFriendships")</li>
                        <li>@Html.ActionLink(User.IsInRole("Friend") ? "My Applications" : "Applications", "Index", "Applications")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Jacob Brokaw</p>
        </footer>
    </div>*@